<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Ticket Tracker Application</title>

<style>
h3 {
	color: white;
	background-color: #335FFF;
	text-align: center;
}

h2 {
	color: blue;
	text-align: left;
	text-decoration-style: solid;
}
</style>
</head>

<body>

	<div class="container">
		<br> <br>
		<h3>Ticket Tracker Application</h3>
		<br>
		
		<h2>View Ticket</h2>
		<hr>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr align="center">
					<th>Ticket ID</th>
					<th>Ticket Title</th>
					<th>Ticket Short Description</th>
					<th>Ticket Details</th>
					<th>Ticket Created On</th>
					<th>Ticket Edited On</th>

				</tr>
			</thead>

			<tbody>
				<tr th:each="tempTicket : ${ticket}">

					<td th:text="${tempTicket.id}" />
					<td th:text="${tempTicket.title}" />
					<td th:text="${tempTicket.description}" />
					<td th:text="${tempTicket.content}" />
					<td th:text="${tempTicket.created_date}" />
					<td th:text="${tempTicket.edited_date}" />

				</tr>
			</tbody>
		</table>
		<hr>
		<a th:href="@{/ticket/list}">Back to Ticket List</a>
	</div>
</body>
</html>



